*.mxproject
/.hgignore
*.s
/Drivers
*.orig
/EWARM/SD_CARD_FATFSv2
/EWARM/SD_CARD_FATFSv2.dep
/EWARM/SD_CARD_FATFSv2.ewd
/EWARM/SD_CARD_FATFSv2.ewp
/EWARM/SD_CARD_FATFSv2.ewt
/EWARM/settings/Project.wsdt
/EWARM/settings/SD_CARD_FATFSv2.SD_CARD_FATFSv2.cspy.bat
/EWARM/settings/SD_CARD_FATFSv2.SD_CARD_FATFSv2.cspy.ps1
/EWARM/settings/SD_CARD_FATFSv2.SD_CARD_FATFSv2.driver.xcl
/EWARM/settings/SD_CARD_FATFSv2.SD_CARD_FATFSv2.general.xcl
/EWARM/settings/SD_CARD_FATFSv2.crun
/EWARM/settings/SD_CARD_FATFSv2.dbgdt
/EWARM/settings/SD_CARD_FATFSv2.dnx
/EWARM/settings/SD_CARD_FATFSv2.reggroups
